@font-face {
    font-family: PatrickHand;
    src: url(./font/PatrickHand-Regular.ttf);
}
.body{
    background: gray;
    font-family: PatrickHand; 
    width: 100%;
    min-height: 200px;
}

.container{
    width: 80%,;
    height: 750px;
    margin-top: 60px;
    margin-left: 170px;
    background-color: white;
    border-radius: 40px;
}
.row{
    height: 100%;
}

.bi-cloud-sun-fill{
    margin-top: 20px;
    margin-left: 80px;
}
.suhu{
    font-size: 70pt;
    margin-top: 30px;
    margin-left: 100px;
}
.date{
    margin-left: 130px;
}
.icon-condition .bi{
    font-size: 14pt;
    margin-top: 0px;
    margin-left: 40px;
    margin-right: 10px;
}
.coloums{
    background-image: url(../icon/bg.jpg) !important;
    background-size: cover;
    width: 330px;
    height: 120px;
    border-radius: 20px;
    margin-top: 40px;
    margin-left: 40px;
}
.p{
    margin-top: 0px;
    margin-left: 80px;
    font-size: 18pt;
}
#weatherText{
    font-size: 1.5em;
}
.col-8{
    background-color: #DCDCDC;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
}
.col-auto{
    width: 250px;
    margin-top: 20px;
    margin-left: 20px;
    box-shadow:  0.1em grey;
}
.btn{
    display: flex;
    align-items: center;
    padding: 10px 26px;
    width: 120px;
    border-radius: 20px;
    border: none;
    background-color: darkblue;
    cursor: pointer;
    user-select: none;
}
.button.checked .icon{
    display: flex;
}
.btn .icon{
    width: 28px;
    color: white;
    margin-right: 5px;
    align-items: center;
    display: none;
}
.icon.spinner.spin{
    animation: spin 1.3s ease-in-out infinite;
}
@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
.icon.check{
    height: 28px;
    width: 28px;
    align-items: center;
    justify-content: center;
}
.button .btn-text{
    font-size: 20pt;
}
.col-9{
    background-color: white;
    width: 750px;
    height: 200px;
    margin-top: 30px;
    transform: translate3d(2px, 0, 0);
    box-shadow: 0 0 0.5em gray;
} 

.row{
    margin-top: 15px;
    justify-content: space-around;

}
.text{
    font-size: 15pt;
    font-weight: bold;
}
.more{
    margin-left: 250px;
}
.col-md-3 {
    background-color: white;
    height: 150px;
    border-radius: 20px;
    transform: translate3d(2px, 0, 0);
    box-shadow: 0 0 0.5em gray;
}

.label{
    position: inherit;
    font-size: 25pt;
    margin-top: -60px;
    margin-left: 90px;
    font-size: 14pt;
    color:rgba(17, 15, 15, 0.781);
}
.number{
    font-size: 22pt;
    margin-top: -15px;
    font-weight: 300;
}
.label2{
    font-size: 25pt;
    margin-top: -60px;
    margin-left: 90px;
    font-size: 14pt;
    color:rgba(17, 15, 15, 0.781);
}
.number2{
    font-size: 22pt;
    margin-top: -15px;
    font-weight: 300;
}
.bi{
    margin-top: 30px;
}