body, html {
    margin: 0;
    padding: 0;
    background: black;
}

#mainContainer {
    max-width: 90vw;
    margin-top: 5vh;
    padding: 10px;
    border-radius: 25px;
    background: white;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#leftPane {
    width: 40%;
    min-width: 310px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#rightPane {
    width: 60%;
    padding: 10px;
    background-color: aquamarine;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}
@media only screen and (max-width: 884px) {
    #rightPane{
        border-radius: 25px;
    }
}

.leftItem{
    margin: 10px;
}

.rightContainer{
    width: 100%;
}

.input{
    display: flex;
    justify-content: center;
}

.kondisi-title{
    font-weight: bold;
    font-size: 1.5rem;
}

.info-container{
    display: flex;
    flex-wrap: wrap;
}

.weather-info{
    background: white;
    width: 30%;
    margin: 5px;
    border-radius: 15px;
    padding: 5px;
    display: flex;
}

.weather-info svg{
    margin-right: 10px;
}